<html>
  <head>
    <meta charset="utf-8">
    <title>Le Site du CHILL - by Chloé</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet">
    <link href='style.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

  <body>

    <div id="banner">
        <h1> Le Coin Chill </h1>
        <p><em>- The W E B S I T E - </em></p>
         <a target="_blank" href="http://www.dico2rue.com/dictionnaire/mot/902/chill"><button type="button" class="btn btn-primary">Définition</button></a>
         <div class="cta text-center">
        
      <h3>Type a word and try our solution</h3>

      <form action="/search" method="get" class="form-inline">
        <input type="text" name="query" placeholder="Search..." class="form-control">
        <input type="submit" value="Search" class="btn btn-red">
      </form>
    
    </div>
    </div> 



    <div class="container">
      
      
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card text-center">
                <a target="_blank" href="https://www.narcity.com/ca/qc/montreal/en-vedette/9-endroits-parfaits-pour-chiller-avec-une-vue-incroyable-de-la-ville"><img src="images/simplicite.webp" alt="picture description" width="200" class="img-thumbnail" class="img-responsive" alt="Responsive image"></a>
                <h2>1. Trouver le Spot </h2>
                <p> Trouver des lieux insolites, tout en simplicité</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card text-center">
                <a target="_blank" href="https://life-chill.com/boutique/hamac-gonflable-fraise-fraiche/"><img src="images/hamac_chill.jpeg" alt="hamac" width="200" class="img-thumbnail" class="img-responsive" alt="Responsive image"></a>
                <h2>2. Être toujours détendu</h2>
                <p>Découvrez les moyens les plus Chill permettant de se poser.</p>
            </div>
        </div>
      

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="card text-center">
                <a target="_blank" href="https://www.youtube.com/watch?v=SalN3ZE7ks0"><img src="images/tenor.gif" alt="kiffer" width="170" class="img-thumbnail" class="img-responsive" alt="Responsive image"></a>
                <h2>3.Kiffer</h2>
                <p>Comment profiter de ses moments Chill.</p>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row">
              
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    
                    <div id="wufoo-z1jk4gwb0js4fpu">
                    Fill out my <a href="https://supdevelop.wufoo.com/forms/z1jk4gwb0js4fpu">online form</a>.
                    </div>
                    <script type="text/javascript">var z1jk4gwb0js4fpu;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'supdevelop',
                    'formHash':'z1jk4gwb0js4fpu',
                    'autoResize':true,
                    'height':'934',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'show',
                    'ssl':true};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { z1jk4gwb0js4fpu = new WufooForm();z1jk4gwb0js4fpu.initialize(options);z1jk4gwb0js4fpu.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');</script>
                    </div>
              </div>
        </div>
  </div>

<div id="footer">


  <p>Pour plus d'infos sur mon profil ...</p>
  <ul class="list-inline">
      <li>
          <a target="_blank" href="https://www.facebook.com/chloe.dsc.1272">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
      </li>

      <li>
          <a target="_blank" href="https://fr.linkedin.com/">
          <i class="fa fa-linkedin"></i>
          </a>
      </li>
 
      <li>
          <a target="_blank" href="https://www.youtube.com/?hl=fr&gl=FR">
          <i class="fa fa-youtube"></i>
          </a>
      </li>
  
  </ul>

</div>
</body>
</html>