<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Le Wagon x Audencia</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,900|Open+Sans:300,400,700" rel="stylesheet">
    <link href="/style.css" rel='stylesheet'>
  </head>

  <body>
    <div id="banner">
      <img src="images/logo.png" alt="" width="70px">
      <h1>5 days Bootcamp</h1>
      <p>Learn digital languages to create your projects</p>
      <a href="#wufoo-sx0l84z1iszo7g" class="btn btn-lg btn-red">I want more</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- div class="card" -->
          <div class="card">
            <i class="devicon-html5-plain colored icon-size"></i>
            <h2>HTML</h2>
            <p>A project always starts with<strong> the content</strong>.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- div class="card" -->
          <div class="card">
            <i class="devicon-css3-plain colored icon-size"></i>
            <h2>CSS</h2>
            <p>Define your identity, create your <strong>brand design</strong></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- div class="card" -->
          <div class="card">
            <i class="devicon-ruby-plain colored icon-size"></i>
            <h2>RUBY</h2>
            <p>You want to shine, now you can add <strong>some algorithms</strong></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- div class="card" -->
          <div class="card">
            <i class="devicon-rails-plain colored icon-size"></i>
            <h2>RAILS</h2>
            <p>A framework to help you <strong>build an app</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="cta text-center">
      <h2>Maybe you need some inspiration</h2>
      <a class="btn btn-primary" href="search">Search</a>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="gif"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div id="wufoo-sx0l84z1iszo7g">
          Fill out my <a href="https://pedrolane.wufoo.com/forms/sx0l84z1iszo7g">online form</a>.
        </div>
      </div>
    </div>

    <div id="footer" >
      <p>This is a playground landing ©Le Wagon</p>
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>

    <!-- For Wuffo form -->
    <script type="text/javascript">
      var sx0l84z1iszo7g;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'pedrolane',
      'formHash':'sx0l84z1iszo7g',
      'autoResize':true,
      'height':'517',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { sx0l84z1iszo7g = new WufooForm();sx0l84z1iszo7g.initialize(options);sx0l84z1iszo7g.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
    </script>
  </body>
</html>
