body{
  margin-top: 20px;
  background: rgb(245,245,245);
  background-image: url("images/fond_site.png");
  color: #544E61;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;


}
h1{
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}

h3 {
font-family: 'Gloria Hallelujah', cursive;
  color: white;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#banner{
  text-align: center;
  background-image: url("images/38.png");
  background-size: cover;
  background-position: bottom;
  padding: 50px;
  color: white;
  text-shadow: 1px 1px 5px black;
  opacity: 0,5;
}

#banner h1 {
  color: white;
  font-size: 50px;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  text-align: center;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  padding: 10px 0;
  font-weight: lighter;
  text-align: center;
  background-size: 30px;
  background-color:white;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
  image-rendering: optimizeQuality;


}
.container{

  background-color: white;

}

.card a:hover{

background-image: #E4C2C6;


}

#footer a{
  color:pink;
  font-size: 30px;

}

#footer a:hover {
  color: white;

}




